*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: Helvetica, sans-serif;
}


a{
    text-decoration: none;
}


.container{
    width: 100%;
    height: 100vh;
}


/* Header */

/* Topbar */

.topbar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.logo{
    width: calc((100%/ 5));
    background-color: white;
    padding: 5px;
}

#logo2{
    display: none;
}

.header-tools{
    width: calc((100%/ 5));
    background-color: white;
    padding: 10px;
}

.search-bar{
    width: calc((100%/ 1) - 10px);
}

.search-bar input{
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
}

.header-icons i{
    margin-right: 10px;
}





/* Main */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


/* Sidebar */

.sidebar-column{
    width: 150px;
    height: 100%;
    background-color: #051e34;
    display: grid;
}

.sidebar-container{
    padding-top: 70px;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.side-menu {
    margin-top: 20px;
}

.side-menu a{
    text-decoration: none;
    color: white;
}

.side-menu i{
    margin-bottom: 20px;
}

.side-menu span{
    margin-left: 10px;
}

.bottom-tools{
    align-self: flex-end;
    margin-bottom: 20px;
}

.bottom-tools a{
    color: white;
}


.settings-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boolean tools */

.tables-column{
    flex-grow: 1;
    width: calc(100% - 150px);
    height: 100%;
    padding-top: 62px;
    overflow: auto;
}

.boolean-topbar{
    width: 100%;
    padding: 15px;
    background-color: #1b72e8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.boolean-button{
    width: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.boolean-button h2{
    color: white;
    font-size: 30px;
}

.boolean-button span {
    margin-left: 10px;
    font-size: 15px;
}

.button-b{
    color: white;
    padding: 5px 10px;
    background-color: #165bba;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 15px;
}

#button-list{
    margin-top: 15px;
    font-size: 15px;
}

.button-b{
    font-size: 10px;
}

.plus{
    display: none;
}


.button-list i{
    color: white;
    margin-right: 10px;
}

.students{
    margin-right: 15%;
}

.students h3, h4{
    color: white;
    margin-bottom: 15px;
}



/* Tables */
.tables-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

/* First column tables */

.first-column-tables{
    width: 60%;
    max-width: 100%;
}

/* first table */

.next-classroom{
    /* debug */
    /* height: 400px; */
    max-width: 100%;
    border: solid 1px lightgray;
    margin: 20px;
    background-color: white;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}

.title h2{
    color: black;
    font-weight: lighter;
}

.table-container{
    padding: 20px;
    padding-bottom: 30px;
}

.right-title span{
    font-size: 20px;
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
}


/* table content */
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class span{
    font-size: 15px;
    margin-left: 10px;
}

.class i{
    color: white;
    padding: 5px;
}

.class-1 span{
    font-weight: bolder;
}

.icon-container{
    padding: 5px;
    border-radius: 50%;
    background-color: #f0624d;
}

.specifications span{
    margin-right: 25px;
    font-size: 15px;
}

.specifications-1 span{
    font-weight: bolder;
    margin-right: 30px;
    font-size: 15px;
}

#button{
    background-color: #198754;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: white;
    margin-right: 30px;
    margin-left: 0;
}

.pencil{
    margin-right: 20px;
}

#items{
    color: #6c757d;
    border: 1px solid #6c757d;
    padding: 5px;
    border-radius: 5px;
    margin:0;

}

/* F.A.Q. */


.faq{
    /* debug */
    /* height: 200px; */
    max-width: 100%;
    border: solid 1px lightgray;
    margin: 20px;
    background-color: white;
}

.faq-text span{
    font-size: 15px;
}

.faq-text{
    padding: 10px;
}



/* Second colum tables */
.second-column-tables{
    width: 40%;
    max-width: 100%;
    align-self: flex-start;
}



/* Todo */

.todo{
    /* height: 200px; */
    max-width: 100%;
    border: solid 1px lightgray;
    margin: 20px 10px;
    background-color: white;
}

.todo-container{
    padding: 15px;
    border: 1px solid lightgrey;
    margin: 10px;
}


.line{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.line span{
    font-size: 12px;
}


/* Graphic */

.graphics{
    /* height: 400px; */
    max-width: 100%;
    border: solid 1px lightgray;
    margin: 10px;
    background-color: white;
}

.graphic-container{
    border: 1px solid lightgray;
    margin: 10px;
}

.img-container {
    border-bottom: 1px solid lightgray;
}


.img-container img{
    max-width: 100%;
}


.img-container h3{
    margin-bottom: 5px;
    margin-left: 10px;
}

.img-container p{
    font-size: 14px;
    margin-left: 10px;
}


.months h5{
    font-weight:500;
    margin: 10px 0 10px 10px;
}

.m-1{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.months a{
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
}




/* Media command */

@media screen and (max-width: 1182px) {

}

@media screen and (max-width: 991px){



    /* Sidebar */

    .sidebar-column{
        width: 50px;
    }


    .sidebar-container span{
        display: none;
    }

    .side-menu span{
        display: none;
    }

    .settings-container span{
        display: none;
    }


    /* Boolean topbar */

    .boolean-topbar{
        flex-wrap: wrap;
    }

    .button-b{
        margin-bottom: 20px;
        display: inline-block;
    }

    .after{
        display: none;
    }

    .plus{
        display: inline-block;
    }








    /* Tables */

    .tables-column{
        flex-grow: 1;
        width: calc(100% - 50px);
        height: 100%;
        padding-top: 62px;
        overflow: auto;
    }

    .tables-screen{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
    }


    .first-column-tables{
        width: 100%;
    }

    .second-column-tables{
        width: 100%;
    }

    .todo{
        margin: 20px;
    }

    .graphics{
        margin: 20px;
    }


}

@media screen and (max-width: 853px){




}



@media screen and (max-width: 732px){
    .logo{
        display: none;
    }

    #logo2{
        width: calc((100%/ 5));
        background-color: white;
        padding: 5px;
    }
}




/* Smartphone */

@media screen and (max-width: 590px){

}
    














